{
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [ "import", "prettier" ],
  "extends": [ "react-app", "airbnb", "prettier" ],
  "rules": {
    "prettier/prettier": [ "error", {
      "semi": true,
      "singleQuote": true,
      "trailingComma": "all"
    }],
    "react/jsx-filename-extension": "off",
    "jsx-a11y/href-no-hash": "off"
  }
}